model_config_list:{
    config:{
      name:"crnn", #银行卡号
      base_path:"/models/multiModel/crnn",
      model_platform:"tensorflow"
    },
    config:{
      name:"chinese", #中文模型-身份证
      base_path:"/models/multiModel/chinese",
      model_platform:"tensorflow"
    },
    config:{
      name:"date", #日期
      base_path:"/models/multiModel/date",
      model_platform:"tensorflow"
    },
}
